
body	{
	max-width:100%;
		background: #5affb7;
		color: #000000;
;
	}




h1 {
	font-size: 21px;
	font-family: 'Source Code Pro'; font-weight: 600;	
	line-height: 28px;
	letter-spacing: 0.5px;
	width: 80%;
	}	



h2 {
	font-family: 'Source Code Pro'; font-weight: 500;
	font-size: 19px;
	line-height: 60px;
	letter-spacing: 0.7px;


}		

h3 {
	font-size: 15px;
	font-family: 'Source Code Pro'; font-weight: 300;	
	line-height: 26px;
	letter-spacing: 0.8px;

}


h4 {
	font-size: 15px;
	font-family: 'Source Code Pro'; font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.7px;

}


h5 {
	font-size: 14px;
	font-family: 'Source Code Pro'; font-weight: 300;
	line-height: 18px;
	letter-spacing: 0.9px;
	color: red;

}

.container {
	position: absolute;
	width: 45%;
	left: 225px;
}

.info {
	position: fixed;
	width: 30%;
	right: 30px;
	height: 100%;

}

.outernote {
	display: table;
	position: fixed;
	width: 90px;
	left: 50px;

}

.innernote {
	position: absolute;
	margin-top: 30px;
	margin-left: -175px;
	width: 90px;
}


Code van sep voor afbeeldingen inplaatsen:

#wrapper{
	position: fixed;
	width:100%;
	right: 40px;
	height:100%;
	float:right;
}

.content{
	float:left;
	width: 50%;
	right: 20px;
	height: 100%;
}
.imagery{
	width:10%;
	float:right;
	margin-right:300px;
}

.imagery img{
	width:400px;
	height:auto;
}

/* zoek op div toggle on click java

