html, body{
	height:100%;
}

body	{
	max-width:100%;
	background: #white;
	color: #000000;
}


li {
    float: block;
    list-style: none;
}

a {
    display: absolute;
    width: 40px;
    font-family: 'Montserrat'; 
    font-weight: 400;
   	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #000000;
	cursor: pointer;
	text-decoration: none;


}



h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 35px;
	line-height: 40px;
	letter-spacing: 1,2px;
	text-align: center;
	width: 100%;
	top: 0%;
	}	



h2 {
	font-family: 'Montserrat', sans-serif;	
	font-weight: 700;
	font-size: 26px;
	line-height: 35px;
	letter-spacing: 0.9px;


}		

h3 {
	font-size: 14px;
	font-family: 'Source Code Pro'; 
	font-weight: 400;	
	line-height: 23px;
	letter-spacing: 0.6px;
	


}


h4 {
	font-size: 15.5px;
	font-family: 'Montserrat', sans-serif;	
	font-weight: 700;
	line-height: 24px;
	text-indent: 3em;
	letter-spacing: 1px;

}


h5 {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;	
	font-weight: 400;	
	line-height: 18px;
	letter-spacing: 0.9px;
	color: black;
	text-align: right;

}

h6 {
	font-size: 13px;
	font-family: 'Montserrat'; font-weight: 400;	
	line-height: 15.5px;
	letter-spacing: 0.8px;

}



.toggle-footnote::before{
  content: "[";
}
.toggle-footnote::after{
  content: "]";
}

.footnote{
  display:none;
}





#wrapper{
	height:100%;
}

.kliknav{
	position: fixed;
	font-family: 'Montserrat'; 
	font-weight: 400;
	top: 20px;
	left: 20px;
	cursor: hand;
	cursor: pointer;
}



.container {

	position: absolute;
	width: 40%;
	left: 220px;
	background-color: #7bffc5;
	padding: 35px;
	top: -40px;
	-moz-box-shadow:    inset 0 0 10px #ffffff;
  	-webkit-box-shadow: inset 0 0 10px #ffffff;
   	box-shadow:        inset 1px 35px 30px 25px #ffffff;
}

.nav {

	position: fixed;
	top:80px;
	width: 200px;
	left: 20px;
	background-color: white;
	display: none;
}

.linksvak {
	position: fixed;
	width: 200px;
	left: 15px;
	bottom: 40px;
	font-size: 12px;
	font-family: 'Montserrat'; 
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.5px;
	color: black;
	display:none;
}

.rechtsvak {
	position: fixed;
	width: 420px;
	right: 15px;
	top: 15px;
	background-color: blue;
}

img {
	width: 100%;
}

.info {
	position: fixed;
	width: 30%;
	right: 30px;
	height: 100%;

}



.innernote {
	position: absolute;
	margin-top: 40px;
	margin-left: -190px;
	width: 150px;
}


.sticky-wrapper{
	position: absolute;
	opacity: 0;
	width:420px;
	min-height: 100%;
	margin-left: 570px;
}
.sticky-wrapper.is-sticky{
	opacity: 1;
}
.side-image{
	position: absolute;
/*	margin-right: -440px;
	margin-top: 40px;
*/
	max-width: 30%;
	right: 55px;
	margin-top: 20px;
	/*box-shadow: 10px 10px 5px #888888;*/
	background: white;
	padding-bottom:1000px;
	

}






Code van sep voor afbeeldingen inplaatsen:

#wrapper{
	position: fixed;
	width:100%;
	right: 40px;
	height:100%;
	float:right;
}

.content{
	float:left;
	width: 50%;
	right: 20px;
	height: 100%;
}
.imagery{
	width:10%;
	float:right;
	margin-right:300px;
}

.imagery img{
	width:400px;
	height:auto;
}

/* zoek op div toggle on click java

